<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>703 - The path of the Monkeys</title>
  <%= stylesheet_link_tag    "story_page", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <link href='/assets/favicon.ico' rel='shortcut icon'/>
  <link href='/assets/favicon.png' rel='shortcut icon'/>
  <link href='/assets/favicon.png' rel='apple-touch-icon'/>
  <link href='/assets/favicon.png' rel='shortcut icon' type='image/x-icon'/>

  <script language="Javascript">
      if(navigator.appName.indexOf('Internet Explorer')>0){
          alert("Atualize-se!\nEsse site pode n&atilde;o funcionar corretamente no Internet Explorer 6 e 7 INTENCIONALMENTE!");
      }
  </script>
</head>
<body>

<div id="main">
  <div class="contend" id="intro">
    <div id="contend-intro">
      <img src="/assets/703-logo.png" width="333" height="188" alt="703 - the path of the monkeys" />
      <a href="#primeiro-grupo" title="Play" class="play">Play</a>
    </div>
  </div>

  <%= yield %>

  <div id="rodape">
    <p id="copy">© Copyright 2012 - <strong>703 - The path of the Monkeys</strong></p>
    <p id="credito">
	<span>DEV </span>Renato Alves <strong> | </strong>
	<span>WEB </span>Pipo Bizelli <strong> | </strong>
	<span>Desenhos </span>Francesco</p>
  </div>
</div>

<script>

</script>
</body>
</html>
